[flake8]
# W503 conflicts with W504 https://github.com/mila-iqia/cookiecutter-pyml/issues/10
; ignore = D100, D101, D102, D103, D104, D105, D106, D107, W503
ignore = F401, I201, I100, I101
exclude = .git, __pycache__, .venv, venv, */migrations/*
filename = *.py
max-line-length = 120
max-complexity = 6
count = true
