django==4.2.3
environs==9.5.0
flake8==6.0.0
pre-commit==3.3.3
psycopg2-binary==2.9.6
djangorestframework==3.14.0
django-filter==23.2
djangorestframework-simplejwt==5.2.2
Pillow==10.0.0
isort==5.12.0
drf-nested-routers==0.93.4
pytest_django==4.5.2
